<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
    <title>Disasters for Department</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Track Disasters for Department: <span th:text="${department.name}"></span></h2>

<form th:action="@{/department_disaster}" method="post" th:object="${departmentDisaster}">

    <!-- Disaster Dropdown -->
    <label for="disaster">Disaster:</label>
    <select id="disaster" name="disasterId" th:field="*{disasterId}" required>
        <option th:each="singleDisaster : ${allDisasters}" th:value="${singleDisaster.id}" th:text="${singleDisaster.type}"></option>
    </select>
    <br/>

    <!-- Description -->
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:field="*{description}" required maxlength="200"/>
    <br/>

    <button type="submit">Create</button>
</form>

<button type="button" onclick="goBack()">Back</button>

<div class="table-container">
    <table id="departmentDisasterTable">
        <thead>
        <tr>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <!-- Show Departments rows here -->
        <tr th:each="singleDepDis : ${allDepartmentDisasters}">
            <td th:text="${singleDepDis.description}"></td>
            <td><button type="button" th:attr="onclick=|deleteDepartmentDisById('${singleDepDis.id}')|">Delete</button></td>
        </tr>
        </tbody>

    </table>
</div>

<script>
    function deleteDepartmentDisById(departmentDisId) {
       window.location.href = '/ecohub/department_disaster/delete?departmentDisasterId=' + departmentDisId;
    }

    function goBack() {
        window.location.href = '/ecohub/department';
    }
</script>

</body>
</html>
