<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Employee Information</h2>

<form id="employeeForm" th:action="@{/employee}" th:object="${employee}" method="post" onsubmit="return validateForm()">

    <!-- Department dropdown -->
    <label for="department">Department:</label>
    <select id="department" name="departmentId" th:field="*{departmentId}" required>
        <option th:each="singleDepartment : ${allDepartments}" th:value="${singleDepartment.id}" th:text="${singleDepartment.name}"></option>
    </select>
    <br/>

    <!-- Manager dropdown -->
    <label for="manager">Manager:</label>
    <select id="manager" name="managerId" th:field="*{managerId}" required>
        <option th:each="singleManager : ${allManagers}" th:value="${singleManager.id}" th:text="${singleManager.firstName + ' ' + singleManager.lastName}"></option>
    </select>
    <br/>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" required maxlength="64">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" required maxlength="64">

    <!-- Gender -->
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" th:field="*{gender}" required>
        <option th:value="MALE" th:text="MALE"></option>
        <option th:value="FEMALE" th:text="FEMALE"></option>
    </select>

    <!-- Age -->
    <label for="age">Age:</label>
    <input type="text" id="age" th:field="*{age}" required maxlength="3" pattern="[0-9]{1,3}" title="Please enter a valid age">

    <!-- Email -->
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required maxlength="64"
           pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Please enter a valid email">

    <!-- Hire Date -->
    <label for="hireDate">Hire Date:</label>
    <input type="date" id="hireDate" name="hireDate" th:field="*{hireDate}" required/>

    <!-- Phone Number -->
    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" required maxlength="10"
           pattern="[0-9]{10}" title="Enter a 10-digit phone number"/>

    <button type="submit">Add Employee</button>
</form>

<button type="button" onclick="goBack()">Back</button>
<br>

<!-- Display error message if it exists -->
<span th:if="${errorMessage}" style="color: red;" th:text="${errorMessage}"></span>
<br>

<div class="table-container">
    <table id="employeeTable">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Email</th>
        <th>Hire Date</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <!-- Show Locations rows here -->
    <tr th:each="singleEmployee : ${allEmployees}">
        <td th:text="${singleEmployee.firstName}"></td>
        <td th:text="${singleEmployee.lastName}"></td>
        <td th:text="${singleEmployee.gender}"></td>
        <td th:text="${singleEmployee.age}"></td>
        <td th:text="${singleEmployee.email}"></td>
        <td th:text="${singleEmployee.hireDate}"></td>
        <td th:text="${singleEmployee.phoneNumber}"></td>
        <td><button type="button" th:attr="onclick=|deleteEmployeeById('${singleEmployee.id}')|">Delete</button></td>
    </tr>
    </tbody>

</table>
</div>

<script>
    function deleteEmployeeById(employeeId) {
        window.location.href = '/ecohub/employee/delete?employeeId=' + employeeId;
    }

    function goBack() {
        window.location.href = '/ecohub/';
    }
</script>

</body>
</html>
