<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Information</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Location Information</h2>

<form id="locationForm" th:action="@{/location}" th:object="${location}" method="post">

    <label for="address">Address:</label>
    <input type="text" id="address" th:field="*{address}" required>

    <label for="postalCode">Postal Code:</label>
    <input type="text" id="postalCode" th:field="*{postalCode}" required>

    <label for="city">City:</label>
    <input type="text" id="city"  th:field="*{city}" required>

    <label for="country">Country:</label>
    <input type="text" id="country" th:field="*{country}" required>

    <input type="submit" value="Add Location">
</form>

<button type="button" onclick="goBack()">Back</button>

<table id="locationTable">
    <thead>
    <tr>
        <th>Address</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>Country</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Show Locations rows here -->

    <tr th:each="singleLocation : ${allLocations}">
        <td th:text="${singleLocation.address}"></td>
        <td th:text="${singleLocation.postalCode}"></td>
        <td th:text="${singleLocation.city}"></td>
        <td th:text="${singleLocation.country}"></td>
        <td><button type="button" onclick="deleteRow(this)">Delete</button></td>
    </tr>

    </tbody>
</table>


<script>
<!--    function addLocation() {-->
<!--        var form = document.getElementById("locationForm");-->
<!--        var table = document.getElementById("locationTable").getElementsByTagName('tbody')[0];-->

<!--        var row = table.insertRow(table.rows.length);-->

<!--        var cell1 = row.insertCell(0);-->
<!--        var cell2 = row.insertCell(1);-->
<!--        var cell3 = row.insertCell(2);-->
<!--        var cell4 = row.insertCell(3);-->
<!--        var cell5 = row.insertCell(4);-->

<!--        cell1.innerHTML = form.address.value;-->
<!--        cell2.innerHTML = form.postalCode.value;-->
<!--        cell3.innerHTML = form.city.value;-->
<!--        cell4.innerHTML = form.country.value;-->
<!--        cell5.innerHTML = '<button type="button" onclick="deleteRow(this)">Delete</button>';-->
<!--    }-->

    function deleteRow(button) {
        var row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function goBack() {
        window.location.href = '/ecohub/';
        //window.history.back();
    }
</script>

</body>
</html>
