<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Information</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Location Information</h2>

<form id="locationForm" th:action="@{/location}" th:object="${location}" method="post">

    <label for="address">Address:</label>
    <input type="text" id="address" th:field="*{address}" required maxlength="128">

    <label for="postalCode">Postal Code:</label>
    <input type="text" id="postalCode" th:field="*{postalCode}" required maxlength="32">

    <label for="city">City:</label>
    <input type="text" id="city"  th:field="*{city}" required maxlength="64">

    <label for="country">Country:</label>
    <input type="text" id="country" th:field="*{country}" required maxlength="2">

    <input type="submit" value="Add Location">
</form>

<button type="button" onclick="goBack()">Back</button>

<div class="table-container">
    <table id="locationTable">
    <thead>
    <tr>
        <th>Address</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>Country</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Show Locations rows here -->

    <tr th:each="singleLocation : ${allLocations}">
        <td th:text="${singleLocation.address}"></td>
        <td th:text="${singleLocation.postalCode}"></td>
        <td th:text="${singleLocation.city}"></td>
        <td th:text="${singleLocation.country}"></td>
        <td><button type="button" th:attr="onclick=|deleteRow('${singleLocation.id}')|">Delete</button></td>
    </tr>

    </tbody>
</table>
</div>


<script>
    function deleteRow(locationId) {
        //var row = button.parentNode.parentNode;
        //row.parentNode.removeChild(row);

        alert(locationId);
    }

    function goBack() {
        window.location.href = '/ecohub/';
    }
</script>

</body>
</html>
